#container
{
	background-color: #e6aaa5;
	display: flex;
	flex-direction: column;
}

#sub1
{
	height: 50px;
	width: 1217px;
	background-color: #b1e0e0;
	margin-left: 59px;
	margin-bottom: 20px;
	text-align: center;
}
#con
{
	display: flex;
	justify-content: space-around;
}
#sub2
{
	height: 500px;
	width:400px;
	background-color: 	#74a8e8;
	text-align: center;
}
#sub3
{
	height: 500px;
	width: 700px;
	background-color: #db7070;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	align-items:  flex-end;
}
#title1
{
	height: 160px;
	width: 160px;
	background-color: #c7c2c1;
}
#title2
{
	height: 160px;
	width: 160px;
	background-color: #c7c2c1;
}
#title3
{
	height: 160px;
	width: 160px;
	background-color: #c7c2c1;
}
#sub4
{
	height: 50px;
	width: 1217px;
	background-color: #b1e0e0;
	margin-left: 59px;
	margin-top: 20px;
	text-align: center;
}
.text
{
	position: relative;
 	left: 0;
}