body
{

}

#heart
{

	position: relative;
	margin-top: 20%;
	margin-left: 45%;
	width: 200px;
	height: 200px;
	background-color: yellow;
	transform: rotate(45deg); 
	animation: beat 1s infinite;

}

#heart:before
{

	content: "";
	top: -100px;
	position: absolute;
	width: 200px;
	height:100px;
	background-color: yellow;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	box-shadow: -10px -10px 5px green,
				-10px -10px 5px green,
				-10px -10px 5px green;
				

	

}

#heart:after
{

	content: "";
	position: absolute;
	left:-100px; 
	width: 100px;
	height:200px;
	background-color: yellow;
	border-bottom-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px;
	border-top-left-radius: 100px;
	box-shadow: -10px -10px 5px green,
				-10px -10px 5px green,
				-10px -10px 5px green;
				
	

}
@keyframes beat
{
	0%{}

	50%{

		transform: scale(1.5);
	}

	100%
	{
		transform: scale(2);
	}
}
