
.nav-bar
{
	background-color:#60eade;
	height: 60px;
	margin-bottom: 10px;
}
li
{
	display: inline-block;
	list-style-type: none;
	font-size: 25px;
	padding-top: 15px;
	margin-right: 5%;
}
li:hover
{
	cursor: pointer;
	height: 45px;
	background-color:#9bcbe8;
}
#container
{
	display: flex;
	justify-content: space-between;
}
#college-image
{
	background-image:url('college.jpg');
	background-size:cover;
	width: 65%;
	height: 600px;
}
#c-name
{
	font-size: 2rem;
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	
}
#college-info
{
	background-color: #faaeff;
	width: 33%;
	height:600px;
}
h2
{
	background-color: #9d8be2;
	text-align: center;
}
marquee
{
	text-align: center;
}